.siteHeader {float: left;width: 100%;position: relative;height: 80px;line-height: 80px;z-index: 10000000000000;padding: 0 20px;top: 0;transition: top 0.3s ease-in-out;text-align: center;
    img {max-height: 40px;vertical-align: middle;line-height: 80px;}
}
