.menu {float: right;padding: 0;margin: 0;padding-right: 30px;position: relative;z-index: 10000000;
  li {list-style-type: none;display: inline-block;padding: 0 10px;}
  a {color: $white;text-decoration: none;
    &:hover {opacity: 0.8;}
  }
}