<%= simple_form_for(@purpose, html: {multipart: true}) do |f| %>
  <% if @purpose.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@purpose.errors.count, "error") %> prohibited this purpose from being saved:</h2>

      <ul>
      <% @purpose.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :name, label: "Naziv" %>
  </div>

  <div class="field">
    <%= f.input :avatar,as: :file, label: "Slika" %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
    <br>
<% end %>
