<p id="notice"><%= notice %></p>

<h1>Slike</h1>

<table>
  <thead>
    <tr>
      <th>Naziv</th>
      <th colspan="3"></th>
    </tr>
  </thead>
<hr>
  <%= link_to 'Nova namjena', new_purpose_path, class: 'btn btn-success', style: 'margin-bottom: 15px' %>
  <tbody>
    <% @purposes.each do |purpose| %>
      <tr>
        <td><%= image_tag purpose.avatar.url(:thumb) %></td>
        <td><%= purpose.name %></td>
        <td><%= link_to 'Pregled', purpose, class:"RbtnMargin" %></td>
        <td><%= link_to 'Uredi', edit_purpose_path(purpose), class:"RbtnMargin" %></td>
        <td><%= link_to 'Destroy', purpose, method: :delete, data: { confirm: 'Are you sure?' }, class:"RbtnMargin" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<style>
  td {
    padding-top: 5px;
    padding-left: 5px;
  }
</style>