<p id="notice"><%= notice %></p>
<p>
  <%= image_tag @purpose.avatar.url(:medium) if !@purpose.nil? && @purpose.avatar.file? %>
</p>
<p>
  <strong>Name:</strong>
  <%= @purpose.name %>
</p>

<%= link_to 'Edit', edit_purpose_path(@purpose) %> |
<%= link_to 'Back', purposes_path %>
