<%= simple_form_for(@quiz) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :points_to_pass %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
