<style>
    canvas {
      font-size: 18pt;
    }

     .border-content {
       border: 1px solid #3f63f9 !important;
       border-radius: 16px;
       margin-top: 15px;
     }

    .border-margin {
      margin: 10px;
    }

    .nested-fields {
      margin-top: 25px;
    }

    .border-color {
      border-color: #7e81f9!important;
    }

</style>

  <%= pie_chart  CourseQuizCompletion.where(quiz_id: @quiz.id).order('points DESC').includes(:user).map {|quiz| [quiz.user.first_name+" "+quiz.user.last_name,quiz.points]}.first(5), max: @quiz.questions.count,
      id: 'pie', height: "500px", library: { legend: {position: "left", textStyle: {fontSize: "20px", textColor: 'black'}}} %>
<div class="row">
<% @quiz.questions.each do |question| %>
      <div class="col-md-6">
<div class="border-content">
  <div class="border-margin">
    <div class="container-fluid">
      <strong>Question:</strong>
      <p><%= question.title %></p>
      <hr>
      <strong>Correct answer:</strong>
              <div class="border-content border-color">
                <div class="border-margin">
                  <p><%= question.answers.find_by(correct: true).title %></p>
                  <strong><%= "Correct" %></strong>
                </div>
      </div>
    </div>
  </div>
</div>
      </div>
<% end %>
</div>