.site {padding-top: 100px;padding-bottom: 100px;background: #ececec;
  background-image: url("../images/bg_2.jpg");background-repeat: no-repeat;background-position: bottom center; background-size: 100% auto;
  &__Certificate {float: left;width: 100%;position: relative;height: 760px;z-index: 1;background: alpha($white, 0.9);box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
  }
  &__Inner {max-width: 700px;margin: auto;position: relative;top: 50%;transform:translateY(-50%);text-align: center;
    img {max-height: 40px;vertical-align: middle;margin-bottom: 40px;}
    h2 {font-family: $titles;color: $brand;font-size: 54px;font-weight: bold;font-style: italic;margin: 0;margin-bottom: 40px;}
    h4 {color: $brand;font-size: 16px;font-weight: normal;margin: 40px 0;}
    h5 {color: $text;font-size: 16px;font-weight: normal;margin: 0;margin-bottom: 40px;text-transform: uppercase}
    h3 {font-family: $titles;color: $brand;font-size: 48px;font-weight: normal;font-style: italic;margin: 0;}
    .date {margin-top: 80px;font-size: 13px;font-weight: bold;}
  }
}