<%= simple_form_for(@company_size) do |f| %>
  <% if @company_size.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company_size.errors.count, "error") %> prohibited this company_size from being saved:</h2>

      <ul>
      <% @company_size.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :name, label: "Naziv" %>
  </div>
  <div class="actions">
    <%= f.button :submit %>
  </div>
    <hr>
<% end %>
