<p id="notice"><%= notice %></p>

<h1>Pravni oblici</h1>

<table>
  <thead>
    <tr>
      <th>Naziv</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <hr>
  <%= link_to 'Novi pravni oblik', new_company_size_path, class:"btn btn-success", style: 'margin-bottom: 15px' %>
  <tbody>
    <% @company_sizes.each do |company_size| %>
      <tr>
        <td><%= company_size.name %></td>
        <td><%= link_to 'Prikaži', company_size, class:"RbtnMargin" %></td>
        <td><%= link_to 'Izmijeni', edit_company_size_path(company_size), class:"RbtnMargin" %></td>
        <td><%= link_to 'Izbriši', company_size, method: :delete, data: { confirm: 'Are you sure?' }, class:"RbtnMargin" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


