$icons: (
  sprite: (width: {{spriteWidth}}px, height: {{spriteHeight}}px, pngPath: '../images/sprite.png', svgPath: '../images/sprite.svg'),
  {{#shapes}}     
  {{base}}: (width: {{width.inner}}px, height: {{height.inner}}px, backgroundX: {{position.absolute.x}}px, backgroundY: {{position.absolute.y}}px),
  {{/shapes}});

$sprite: map-get($icons, sprite) !default;
$baseFontSize: 16px !default;

// Gets an attribute from the sass map
@function sprite-attr($icon, $attr) {
  $newIcon: map-get($icons, $icon);
  @if $newIcon == null {
    @warn "Can't find an icon with the name #{$icon}";
  }
  @return map-get($newIcon, $attr);
}

@function icon-attr($icon) {
  $attr: (
    width: sprite-attr($icon, width),
    height: sprite-attr($icon, height),
    x: sprite-attr($icon, backgroundX),
    y: sprite-attr($icon, backgroundY)
    );
  @return $attr;
}

// Sets background image and size
%sprite { display: inline-block; vertical-align: middle; font-size: 0; font-style: normal; }

@mixin sprite($icon, $type: all) {
  $iconMap: icon-attr($icon);

  @extend %sprite;
  width: map-get($iconMap, width);
  height: map-get($iconMap, height);

  // Outputs background position in em
  @if $type != symbol {
    background-position: map-get($iconMap, x) map-get($iconMap, y);
    background-image: url(map-get($sprite, svgPath)); 
    background-size: map-get($sprite, width) map-get($sprite, height); 
  }
} 

svg.icon:not(.symbol--Fill),
symbol.icon:not(.symbol--Fill) { 
  circle, ellipse, g, line, path, polygon, polyline, rect { fill: inherit; stroke: inherit; }
}

{{#shapes}}     
.symbol-{{base}} { @include sprite({{base}}, symbol); }
{{/shapes}}