<style>
  .border-content {
    border: 1px solid #7e81f9 !important;
    border-radius: 16px;
  }

  .border-margin {
    margin: 10px;
  }

  .answers{
    margin-top: 10px!important;
  }
</style>
<div class="nested-fields answers" >
  <div class="col-md-4">
  <div class="border-content">
    <div class="border-margin">
      <div class="container-fluid">
        <%= f.input :title %>
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4"><%= f.input :correct %></div>
        </div>

        <hr>
        <%= link_to_remove_association "Remove answer", f, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
  <hr>
</div>
</div>