<style>
  .border-content {
    border: 1px solid #3f63f9 !important;
    border-radius: 16px;
  }

  .border-margin {
    margin: 10px;
  }

  .nested-fields {
    margin-top: 25px;
  }
</style>
<div class="nested-fields" >
  <div class="border-content">
    <div class="border-margin">
      <div class="container-fluid">
  <%= f.input :title %>
  <%= f.input :description %>
    <div class="row">
        <div class="col-md-4">
          <%= f.file_field :file, style: "margin-top: 30px;", required: false %>
          <%= f.object.file unless f.object.file.nil? %>
          <%= f.input :content_url %>
        </div>
         <div class="col-md-3">
           <%= f.input :length %>
        </div>
         <div class="col-md-4" style="margin-left: 8px;">
           <%= f.input :content_type_id, :collection => ContentType.all, required: false %>
        </div>
    </div>
    <hr>
  <%= link_to_remove_association "Remove content", f, class: "btn btn-danger", data: { confirm: "You're deleting content from a course! Are you sure?" } %>
  </div>
  </div>
  </div>
</div>