<hr>
<%= simple_form_for(@course, html: { class: 'form-horizontal', multipart: true }) do |f| %>
  <%= f.error_notification %>
    <% if @course.errors.any? %>
          <% @course.errors.full_messages.each do |msg| %>
            <ul>
              <li><%= msg %></li>
              </ul>
          <% end %>
    <% end %>
    <ul class="nav nav-tabs" style="margin-bottom: 15px;">
      <li class="active"><a data-toggle="tab" href="#tab_1">Course details</a></li>
      <li><a data-toggle="tab" href="#tab_2">Content</a></li>
      <li><a data-toggle="tab" href="#tab_3">Quiz</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane in active" id="tab_1">
        <div class="container">
          <%= f.input :title %>
          <%= f.input :description %>
          <%= f.file_field :picture, style: "margin-top: 30px;" %>
          <%= f.object.picture unless f.object.picture.nil? %>
          <p>
            <label>
              <%= f.check_box :remove_picture %>
              Remove avatar
            </label>
          </p>
          <%= f.file_field :file, style: "margin-top: 30px;" %>
          <%= f.object.file unless f.object.picture.nil? %>
          <p>
            <label>
              <%= f.check_box :remove_file %>
              Remove introduction video
            </label>
          </p>
        </div>
      </div>
      <div class="tab-pane" id="tab_2">
        <div id="contents" style="margin-top: 20px">
          <%= f.simple_fields_for :contents do |content| %>
              <%= render 'content_fields', :f => content  %>
          <% end %>

          <div class="links" >
            <div style="margin-top: 50px; margin-bottom: 40px;">
              <%= link_to_add_association 'Add content', f, :contents, class: "btn btn-primary novi_kupac", stlye:"margin-top: 35px; margin-bottom: 35px"  %>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="tab_3">
      <div id="contents" style="margin-top: 20px">
        <%= f.simple_fields_for :quiz do |quiz| %>
            <%= render 'quiz_fields', :f => quiz  %>
        <% end %>

        <div class="links" >
          <div style="margin-top: 50px; margin-bottom: 40px;">
            <%= link_to_add_association 'Add quiz', f, :quiz, :force_non_association_create => true, class: "btn btn-primary novi_kupac", stlye:"margin-top: 35px; margin-bottom: 35px"  %>
          </div>
        </div>
      </div>
      </div>
    </div>
    <hr>
    <%= f.button :submit, class: "btn btn-success" %>
<% end %>
