<style>
  .border-content {
    border: 1px solid #3f63f9 !important;
    border-radius: 16px;
  }

  .border-margin {
    margin: 10px;
  }

  .nested-fields {
    margin-top: 25px;
  }
</style>
<div class="nested-fields" >
  <div class="border-content">
    <div class="border-margin">
      <div class="page-header head-page">
        <% if f.object.id.nil? %>
            <a data-toggle="collapse" href="#collapse123" aria-expanded="true" aria-controls="collapseExample" id="collapse111" ><h3>Question</h3></a><small>click on the title to collapse or expand</small>
        <% else %>
            <a data-toggle="collapse" href="#question<%=f.object.id%>" aria-expanded="true" aria-controls="collapseExample" id="questionToggle<%=f.object.id%>" ><h3><%= f.object.title %></h3></a><small>click on the title to collapse or expand</small>
        <% end %>
      </div>
      <div class="label" id="collapse222" style="color: darkgrey; font-style: italic;"></div>
      <div class="panel-collapse collapse" id="<%= f.object.id? ? "question"+f.object.id.to_s : "collapse123" %>">
        <div class="container-fluid">
        <%= f.input :title, label: "Question title" %>
        <div id="questions" style="margin-top: 5px">
          <div class="row">
            <%= f.simple_fields_for :answers do |answer| %>
                <%= render 'answer_fields', :f => answer  %>
            <% end %>
          </div>
          <div class="links" >
            <div style="margin-top: 50px; margin-bottom: 40px;">
              <%= link_to_add_association 'Add answer', f, :answers, :force_non_association_create => true, class: "btn btn-primary novi_kupac", stlye:"margin-top: 35px; margin-bottom: 35px"  %>
            </div>
          </div>
        </div>
        <hr>
        <%= link_to_remove_association "Remove question", f, class: "btn btn-danger", data: { confirm: "You're deleting content from a course! Are you sure?" } %>
      </div>
    </div>
  </div>
</div>
</div>

<script>
    var element_id = document.getElementById("collapse123");
    var element_href = document.getElementById("collapse111");
    var element_icon = document.getElementById("collapse222");
    element_id.id = gon.mycounter;
    element_href.id = "1"+gon.mycounter.toString();
    element_href.href = "#"+gon.mycounter.toString();
    element_icon.id = "2"+gon.mycounter.toString();
    element_href.firstElementChild.innerHTML = "Question #"+gon.mycounter.toString();
    gon.mycounter = gon.mycounter + 1;
    element_href.click();
</script>