<style>
  .border-content {
    border: 1px solid #3f63f9 !important;
    border-radius: 16px;
  }

  .border-margin {
    margin: 10px;
  }

  .nested-fields {
    margin-top: 25px;
  }
</style>
<div class="container-fluid">
  <div class="row">
  <div class="col-md-2">
  <%= f.input :points_to_pass %>
  </div>
  </div>
  <div id="questions">
    <%= f.simple_fields_for :questions do |question| %>
        <%= render 'question_fields', :f => question  %>
    <% end %>

    <div class="links" >
      <div style="margin-top: 50px; margin-bottom: 40px;">
        <%= link_to_add_association 'Add question', f, :questions, class: "btn btn-primary novi_kupac", stlye:"margin-top: 35px; margin-bottom: 35px"  %>
      </div>
    </div>
  </div>
  <hr>
  <%= link_to_remove_association "Remove quiz", f, class: "btn btn-danger", data: { confirm: "You're deleting content from a course! Are you sure?" } %>
</div>

<script>
    gon.mycounter = 1;
</script>