<p id="notice"><%= notice %></p>

<h1>Courses</h1>
<%= link_to 'New Course', new_course_path %>
<hr>
<div class="row">
  <div class="col-md-3">
    <%= datagrid_form_for @courses_grid, url: courses_path %>
  </div>
  <div class="col-md-9">
    <%= datagrid_table(@courses_grid) %>
  </div>
</div>
<%= paginate @courses_grid.assets %>
<br>


<script>
    $('.date_filter').datepicker()
</script>