<style>
  .border-content {
    border: 1px solid #3f63f9 !important;
    border-radius: 16px;
    margin-top: 15px;
  }

  .border-margin {
    margin: 10px;
  }

  .nested-fields {
    margin-top: 25px;
  }

   .border-color {
     border-color: #7e81f9!important;
   }
</style>

<p id="notice"><%= notice %></p>

  <h3><%= @course.title %></h3>

<hr>
<ul class="nav nav-tabs" style="margin-bottom: 15px;">
  <li class="active"><a data-toggle="tab" href="#tab_1">Course details</a></li>
  <li><a data-toggle="tab" href="#tab_2">Content</a></li>
  <li><a data-toggle="tab" href="#tab_3">Quiz</a></li>
</ul>
<div class="tab-content">
  <div class="tab-pane in active" id="tab_1">
    <%= image_tag(@course.picture.url, style: 'height: 480px; width: 720px') if @course.picture? %>
    <br>
    <strong>Introduction video:</strong>
    <p><%= @course.file.url if @course.file? %></p>
    <strong>Description:</strong>
    <p><%= @course.description %></p>
  </div>
  <div class="tab-pane in" id="tab_2">
    <% @course.contents.order('position ASC').each do |content| %>
        <div class="border-content">
          <div class="border-margin">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-2">
                  <h4>#<%= content.position %></h4>
                </div>
                <div class="col-md-6">
                  <strong>Title:</strong>
                  <p><%= content.title if content.title? %></p>
                </div>
              </div>
              <hr>
              <strong>Description:</strong>
              <p><%= content.description if content.description? %></p>
              <hr>
              <div class="row">
                <div class="col-md-4">
                  <strong>Length:</strong>
                  <p><%= content.length if content.length? %></p>
                </div>
                <div class="col-md-4">
                  <strong>Content type:</strong>
                  <p><%= content.content_type.name %></p>
                </div>
                <div class="col-md-4">
                  <strong>File name:</strong>
                  <% if content.content_type.name.include? 'Video' %>
                    <p><%= content.file.url if content.file?%></p>
                  <% else %>
                    <p><%= content.content_url if content.content_url? %></p>
                  <% end %>
                </div>
              </div>
              <hr>
              <%= simple_form_for content, url: set_position_contents_path(id: content.id), method: :post do |f| %>
                <div class="row">
                  <div class="col-md-3">
                    <%= f.input :position, label: "Change position", input_html: { min: '1', step: 'any' } %>
                    <%= f.button :submit, class: "btn btn-success" %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
    <% end %>
  </div>
  <div class="tab-pane in" id="tab_3">
    <% if @course.quiz.present? && @course.quiz.questions.present? %>
      <% @course.quiz.questions.each do |question| %>
      <div class="border-content">
        <div class="border-margin">
          <div class="container-fluid">
            <strong>Title:</strong>
            <p><%= question.title %></p>
              <hr>
            <div class="row">
              <% question.answers.each do |answer| %>
                  <div class="col-md-3">
                    <div class="border-content border-color">
                      <div class="border-margin">
                    <p><%= answer.title %></p>
                    <strong><%= answer.correct? ? "Correct" : "" %></strong>
                        <hr>
                        <p class="comment-small">
                        <% UserQuestionAnswer.where(answer_id: answer.id).each do |answer| %>
                        <% if answer.user.present? %><%= answer.user.first_name+" "+answer.user.last_name+"  " %><% end %><br>
                        <% end %>
                        </p>
                      </div>
                    </div>
                  </div>
              <% end %>
            </div>
            <%= pie_chart  UserQuestionAnswer.where(answer_id: question.answers.ids).includes(:answer).pluck(:title).each_with_object(Hash.new(0)) { |word, acc| acc[word] += 1 } %>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
<p>

</p>
<hr>
<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
<script language="javascript">
    $(document).ready(function() {

        $(".comment").shorten();

        $(".comment-small").shorten({showChars: 15});

    });
</script>