/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require simple-sidebar
 *= require jquery-ui
 *= require_self
 */

@import "wice_grid";
@import "font-awesome-sprockets";
@import "font-awesome";

@import 'ionicons';

@import "bootstrap-sprockets";
@import "bootstrap";

@import "chosen";
@import "bootstrap-chosen";

html {
  overflow: visible;
  height: 100%;
}

.marginBott {
  margin-bottom: 20px;
}

.menu-slide-left i{
  color: #c3c3c3;
  margin: 7px 0  0 75px;
  display: inline-block;
  float: left;
  font-size: 170%;
  height: 0px;
  margin-left: 0px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.menu-slide-right i:hover {
  cursor: pointer;
  border-radius: 4px;
}

.menu-slide-left i:hover {
  cursor: pointer;
  border-radius: 4px;
}

.menu-slide-right i{
  color: #c3c3c3;
  margin: 7px 0  0 80px;
  display: inline-block;
  float: left;
  font-size: 170%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.head-page {
  margin-top: 5px !important;
}

.selected-menu {
  text-decoration: none;
  color: #ffffff !important;
  background: rgba(255, 255, 255, 0.36);
}

.selected-menu a {
  color: #ffffff !important;
}

.selected-menu a:hover {
  color: #000000 !important;
}

.my-brand {
  color: rgba(255, 255, 255, 0.75) !important;
}

.RbtnMargin { margin-left: 5px; }

.field_margin {   padding-right: 25px; }

hr.style17 {
  border-top: 1px solid #8c8b8b;
  text-align: center;
}

hr.style17:after {
  content: '§';
  display: inline-block;
  position: relative;
  top: -14px;
  padding: 0 10px;
  background: #f0f0f0;
  color: #8c8b8b;
  font-size: 18px;
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  transform: rotate(60deg);
}