<!DOCTYPE html>
<html>
<head>
  <title>IZI Admin</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
  <%= Gon::Base.render_data %>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">


  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand my-brand" href="#">IZI Admin</a>

    </div>


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse js--msr" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav ">
      </ul>


      <div class="nav navbar-nav navbar-left js--msr" >
        <a class="menu-slide-left js--msr-icon" id="menu-toggle" ><i class="ion-navicon-round"></i> </a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Novi korisnik", new_admin_registration_path %></li>
        <li><%= link_to "Sign out", destroy_admin_session_path, :method => :delete %></li>

      </ul>
    </div><!-- /.navbar-collapse -->

  </div><!-- /.container-fluid -->

</nav>


<div id="wrapper" class="toggled">

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a href="#" methods="get">

        </a>
      </li>
      <li class="<%= params[:controller] == 'funding_programmes' ? 'selected-menu' : '' %>">
        <%= link_to "Programi sufinanciranja", funding_programmes_path %>
      </li>
      <li class="<%= params[:controller] == 'company' ? 'selected-menu' : '' %>">
        <%= link_to "Registrirane kompanije", companies_path %>
      </li>
      <li class="<%= params[:controller] == 'offer' ? 'selected-menu' : '' %>">
        <%= link_to "Kreirane ponude", offers_path %>
      </li>
      <li class="<%= params[:controller] == 'purposes' ? 'selected-menu' : '' %>">
        <%= link_to "Slike", purposes_path %>
      </li>
      <li class="<%= params[:controller] == 'programme_types' ? 'selected-menu' : '' %>">
        <%= link_to "Tip programa", programme_types_path %>
      </li>
      <li class="<%= params[:controller] == 'company_sizes' ? 'selected-menu' : '' %>">
        <%= link_to "Pravni oblik", company_sizes_path %>
      </li>

    </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper" style="padding-top: 70px;">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">

          <% if flash[:notice] %>
              <div class="alert alert-success" role="alert">
                <%= flash[:notice] %>
              </div>
          <% end %>

          <%= yield %>


        </div>
      </div>
    </div>
  </div>
</div>

<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    $(document).ready(function() {
        $('.js--msr-icon').click(function () {
            var icon = $('.js--msr-icon i');
            var nav = $('.js--msr a');
            if (icon.hasClass('ion-navicon-round')) {
                icon.addClass('ion-close-round');
                nav.addClass('menu-slide-right');
                icon.removeClass('ion-navicon-round');
                nav.removeClass('menu-slide-left');
            } else {
                icon.addClass('ion-navicon-round');
                nav.addClass('menu-slide-left');
                nav.removeClass('menu-slide-right');
                icon.removeClass('ion-close-round');
            }
        });
    });

    $(function() {
        $('.datepicker').datepicker();
    });
</script>

</body>
</html>
