<style>

  html {
    box-sizing: border-box; }

  *, *::after, *::before {
    box-sizing: inherit; }

  @font-face {
    font-family: 'minion';
    src: url('<%= Rails.root.join('public', 'assets', 'fonts', 'Minion-Italic.ttf') %>');
    font-weight: normal;
    font-style: italic; }

  body {
    font: 16px/1.5 "imago";
    height: 100%; }

  a:focus, a:hover {
    text-decoration: none !important; }

  #__bs_notify__ {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -125px !important;
    width: 250px;
    height: 50px;
    border-radius: 0 !important;
    opacity: 0.5; }

  .center {
    max-width: 880px;
    margin-left: auto;
    margin-right: auto;
    position: relative; }
  .center::after {
    clear: both;
    content: "";
    display: table; }

  .clearfix::after {
    clear: both;
    content: "";
    display: table; }

  ::-moz-selection {
    background: #cccccc;
    text-shadow: none; }

  ::selection {
    background: #cccccc;
    text-shadow: none; }

  .site {
    padding-top: 100px;
    padding-bottom: 100px; }
  .site__Certificate {
    float: left;
    width: 100%;
    position: relative;
    height: 760px;
    z-index: 1;
    background-image: url('<%= Rails.root.join('public/assets/images/bg_1.png') %>');
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.3);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: bottom center;
    margin-top: 25px;}
  .site__Certificate:before {
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    position: absolute;
    background: #FFF;
    opacity: 0.9; }
  .site__Inner {
    max-width: 700px;
    margin: auto;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center; }
  .site__Inner img {
    max-height: 40px;
    vertical-align: middle;
    margin-bottom: 40px; }
  .site__Inner h2 {
    font-family: 'minion';
    color: #2777c9;
    font-size: 54px;
    font-weight: bold;
    font-style: italic;
    margin: 0;
    margin-bottom: 40px; }
  .site__Inner h4 {
    color: #2777c9;
    font-size: 16px;
    font-weight: normal;
    margin: 40px 0; }
  .site__Inner h5 {
    color: #444444;
    font-size: 16px;
    font-weight: normal;
    margin: 0;
    margin-bottom: 40px;
    text-transform: uppercase; }
  .site__Inner h3 {
    font-family: 'minion';
    color: #FFF;
    font-size: 48px;
    font-weight: normal;
    font-style: italic;
    margin: 0;
    background-image: url('<%= Rails.root.join('public/assets/images/sash_bg.png') %>');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0 0 30px 0; }
  .site__Inner .date {
    margin-top: 80px;
    font-size: 13px;
    font-weight: bold; }

</style>

<main class="site">
  <div class="center">
    <div class="site__Certificate">
      <div class="site__Inner">
        <%= wicked_pdf_image_tag 'roche-logo.png' %>
        <h3>Certificate</h3>
        <h5>of achievement</h5>
        <h4>is presented to</h4>
        <h2><%= user.first_name+" "+user.last_name %></h2>
        <h4>for successful completion<br><b><%= course %></b></h4>
        <h5 class="date"><%= Time.new.strftime("#{Time.new.day.ordinalize} %B, %Y") %></h5>
      </div>
    </div>
  </div>
</main>
<footer class="siteFooter">

</footer>