<!DOCTYPE html>
<html>
  <head>
    <title>ELearningPlatform</title>
    <%= Gon::Base.render_data %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body><div id="wrapper" class="active">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div  class="navbar-brand">
            <a id="menu-toggle" href="#" class="glyphicon glyphicon-align-justify btn-menu toggle">
              <i class="fa fa-bars"></i>
            </a>
            <a href="#">Roche e-learning platform</a>
          </div>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><%= link_to "Home", root_path %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if admin_signed_in? %><li><%= link_to "Add admin user", new_admin_registration_path %></li>
            <li><%= link_to "Sign out", destroy_admin_session_path, :method => :delete %></li><% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <nav id="spy">
        <ul class="sidebar-nav nav">
          <li>
            <%= link_to courses_path do %>
              <span class="fa fa-anchor solo">Courses</span>
            <% end %>
          </li>
          <li>
            <%= link_to content_types_path do %>
              <span class="fa fa-anchor solo">Content type</span>
            <% end %>
          </li>
        </ul>
      </nav>
    </div>
    <!-- Page content -->
    <div id="page-content-wrapper">
      <div class="page-content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
                <div class="panel-body container">
                  <%= yield %>

                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  </body>
</html>
<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
    });
</script>