<!doctype html>
<html>
<head>

  <meta charset='utf-8' />
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">

  <%= javascript_include_tag "http://code.jquery.com/jquery-1.10.0.min.js" %>
  <%= javascript_include_tag "http://code.jquery.com/ui/1.10.3/jquery-ui.min.js" %>
</head>
<body>
<%= yield %>
</body>
</html>