<%= grid(@offers_grid, show_filters: :always) do |g|

  g.column name: 'Id', attribute: 'id', filter: false, in_csv: false do |t|
    t.id
  end

  g.column name: 'Poduzetnik', attribute: 'company_id', assoc: :user, custom_filter: Company.all.map {|co| [co.name, co.id]} do |t|
    t.user.company.name
  end

  g.column name: 'Poziv na broj', attribute: 'reference_number' do |t|
    t.reference_number
  end

  g.column name: 'Iznos', attribute: 'amount' do |t|
    number_to_currency(t.amount, :unit => "kn", format: "%n %u")
  end

  g.column name: 'Kreirana', attribute: 'created_at', filter: :jquery_datepicker, in_csv: false do |t|
    t.created_at.strftime("%d.%m.%Y. %H:%M")
  end

  g.column in_csv: false do |t|
    link_to("Pregled", offer_path(id: t.id))+" "+link_to("Uredi korisnika", edit_company_path(id: t.user.company.id))
  end
end -%>