<%= simple_form_for(@programme_type) do |f| %>
  <% if @programme_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@programme_type.errors.count, "error") %> prohibited this programme_type from being saved:</h2>

      <ul>
      <% @programme_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :name %>
  </div>
    <hr>
  <div class="actions">
    <%= f.button :submit %>
  </div>
    <br>
<% end %>
