<p id="notice"><%= notice %></p>

<h1>Tip programa</h1>

<table>
  <thead>
    <tr>
      <th>Naziv</th>
      <th colspan="3"></th>
    </tr>
  </thead>
<hr>
  <%= link_to 'Novi tip programa', new_programme_type_path, class:"btn btn-success", style: 'margin-bottom: 15px' %>
  <tbody>
    <% @programme_types.each do |programme_type| %>
      <tr>
        <td><%= programme_type.name %></td>
        <td><%= link_to 'Prikaži', programme_type, class:"RbtnMargin" %></td>
        <td><%= link_to 'Izmijeni', edit_programme_type_path(programme_type), class:"RbtnMargin" %></td>
        <td><%= link_to 'Izbriši', programme_type, method: :delete, data: { confirm: 'Are you sure?' }, class:"RbtnMargin" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


