<%= grid(@companies_grid, show_filters: :always) do |g|
  g.column name: 'Id', attribute: 'id', filter: false, in_csv: false do |t|
    t.id
  end

  g.column name: 'Naziv kompanije', attribute: 'name' do |t|
    t.name
  end

  g.column name: 'OIB', attribute: 'oib' do |t |
    t.oib
  end

  g.column name: 'Veličina kompanije', attribute: 'name', assoc: :company_size, custom_filter: :auto do |t|
   if t.company_size
    t.company_size.name
   end
  end

  g.column name: 'Grad', attribute: 'name', assoc: :city do |t|
   if t.city
    t.city.name
   end
  end

  g.column name: 'Datum kraja licence', attribute: 'license_expires', filter: :jquery_datepicker do |t|
    t.license_expires.strftime("%d.%m.%Y.") unless t.license_expires.blank?
  end

  g.column name: 'Kreiran', attribute: 'created_at', filter: :jquery_datepicker, in_csv: false do |t|
    t.created_at.strftime("%d.%m.%Y. %H:%M")
  end

  g.column in_csv: false do |t|
    link_to("Pregled", company_path(id: t.id))+" "+link_to("Uredi", edit_company_path(id: t.id))+" "+link_to('Destroy', company_path(id: t.id), method: :delete, data: { confirm: 'Are you sure?' })
  end
end -%>