<%= simple_form_for(@company) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= f.input :license_expires, label: "Kraj licence korištenja aplikacije" %>
    </div>

  <div class="field">
    <%= f.input :name %>
  </div>
  <div class="field">
    <%= f.input :oib %>
  </div>
  <div class="field">
    <%= f.label "Grad" %>
    <%= f.input :city_id, label: false,
                :collection => City.all.map {|city| [city.name, city.id]},
                include_blank: true,
                input_html: {class: 'chosen-select' } %>
  </div>
  <div class="field">
    <%= f.input :address %>
  </div>
  <div class="field">
    <%= f.input :company_size_id, :collection => CompanySize.all.map {|size| [size.name, size.id]} %>
  </div>
    <hr>
  <div class="actions">
    <%= f.button :submit %>
  </div>
    <br>
<% end %>
