<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Oib:</strong>
  <%= @company.oib %>
</p>

<p>
  <strong>Mjesto:</strong>
    <%= @company.city.nil? ? "" : @company.city.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @company.address %>
</p>

<p>
  <strong>Veličina kompanije:</strong>
    <%= @company.company_size.nil? ? "" : @company.company_size.name %>
</p>

<p>
  <strong>Username:</strong>
  <%= @company.user.email %>
</p>

<p>
  <strong>License expires:</strong>
  <%= @company.license_expires %>
</p>
<hr>
<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
