<p>Zdravo <%= @resource.email %>!</p>

<p>Zatražili ste resetiranje lozinke. Pratite link za resetiranje lozinke:</p>

<p><%= link_to 'Izmijeni lozinku', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Ukoliko niste zatražili resetiranje lozinke, molimo Vas ignorirajte ovaj email.</p>
<p>Vaša lozinka se neće promijeniti dok ne pristupite danoj poveznici i kreirate novu lozinku</p>
