// COLORS
  $brand: #2777c9;
  $brand2: #117494;
  
  $text: #444444;
  $txthover: #aaaaaa;
  $bdhover:#70a692;
  $white: #FFF;
  $black: #000;
  $gray: #f9f9f9;
  $dark: #231f20;

  $facebook: #3B5997;
  $twitter: #4099FF;
  $google:#c63d2d;
  
  @font-face {
    font-family: 'minion';
    src: url('../fonts/Minion-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'minion';
    src: url('../fonts/Minion-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'minion';
    src: url('../fonts/Minion-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'minion';
    src: url('../fonts/Minion-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}






 @font-face {
    font-family: 'imago';
    src: url('../fonts/ImagoProBoo.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'imago';
    src: url('../fonts/ImagoProMedIta.otf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'imago';
    src: url('../fonts/ImagoProBooIta.otf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'imago';
    src: url('../fonts/ImagoProMed.otf');
    font-weight: bold;
    font-style: normal;
}




  @import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700');

  $font-size: 16px;
  $line-height: 1.5;
  $default: 'imago';
  $titles: 'minion';



  // $light: 100;
  $regular: 400;
  $mediumbold: 500;
  $semibold: 600;
  $bold: 700;
  $ultra: 900;

  $xxsmall: em(10px);
  $xsmall: em(12px);
  $small: em(14px);
  $medium: em(16px);
  $large: em(18px);
  $xlarge: em(20px);
  $xxlarge: em(24px);
  
// DEFAULTS
  body { font: #{$font-size}/#{$line-height} $default; height: 100%;}
  

  @function alpha($color: $black, $opacity: 0.5) { 
    $alpha-color-value: rgba($color, $opacity); 
    @return $alpha-color-value;
  }
  a:focus, a:hover {text-decoration: none !important;}