// Alpha color
@function alpha-color($color: $black, $opacity: 0.5) { 
  $alpha-color-value: rgba($color, $opacity); 
  @return $alpha-color-value;
}

// Align to center
@mixin center($axis: "both"){
  position:absolute;
  @if $axis == "y"{
    top:50%;
    transform: translateY(-50%);
  }
  @if $axis == "x"{
    left:50%;
    transform: translateX(-50%);
  }
  @if $axis == "both"{
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
  }
}

// Target/context formula
@function percent($target, $context: $max-width) {
  $target-context-num: $target/$context * 100%;
  @return $target-context-num;
}

// EM formula
@function em($target, $context: $font-size) {
  $target-context-num: $target/$context * 1em;
  @return $target-context-num;
}

// Elements
@mixin inlineNav($ul: true) {
  @if $ul == true {
    ul { margin: 0; padding: 0; }
  }
  li { display: inline-block; vertical-align: top; }
}

// Scollbars
@mixin scrollbars($size, $foreground-color, $background-color) {
  &::-webkit-scrollbar {
    width:  $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
    border-radius: 10px;
  }
}

// More button
  @mixin moreButton($fgcolor: $white, $bgcolor: transparent) { border: 1px $fgcolor solid; display: inline-block; padding: 0 30px; line-height: 46px; text-decoration: none; font-size: 14px; color: $fgcolor; position: relative; overflow: hidden; z-index: 1; vertical-align: bottom; background: $bgcolor; transition: 900ms $ease-out-quint;letter-spacing: 1px;font-weight: bold;
    &:hover { color: $brand;
      &:before { opacity: 1;  }
    }
    &:before { content: ''; display: block; z-index: -1; position: absolute; top: -10px; bottom: -10px;background: $white; left: -10px; right: -10px; transition: 900ms $ease-out-quint; opacity: 0;}
  }
  
// Overlay
  @mixin overlay($opacity: 0.3, $color: $black, $element: before) { position: relative; z-index: 1;
    &:#{$element} { content: ""; display: block; position: absolute; top: 0; right: 0; bottom: 0; left: 0; background: alpha-color($color, $opacity); z-index: -1; }
  }

  @mixin gradient($boja1: #003162, $boja2: #117494) { background-color: #003162; background: linear-gradient(180deg, $boja1, $boja2);background-attachment: fixed;}
  @mixin headerImage {position: relative;z-index: 1;
   &:before{background-image: url('../images/header_img.png');background-repeat: no-repeat;background-size: 100% auto;background-position: top center;z-index: -1;position: absolute;top: 0;right: 0;bottom: 0;left: 0;content: '';}
   }