<%= simple_form_for(@funding_programme, :html => { :multipart => true }) do |f| %>
    <hr>
  <% if @funding_programme.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@funding_programme.errors.count, "error") %> prohibited this funding_programme from being saved:</h2>

      <ul>
      <% @funding_programme.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#tab_1">Opće informacije</a></li>
      <li><a data-toggle="tab" href="#tab_2">Pitanja</a></li>
    </ul>

<div class="tab-content">
  <div class="tab-pane in active" id="tab_1">

      <div class="row" style="margin-top: 25px">
        <div class="col-md-2">
          <div class="field">
            <%= f.input :status, :as => :select, label: "Status natječaja",
                        :collection => ['Otvoren', 'Zatvoren', 'U najavi'],
                        :include_blank => "(Ne prikazuj na stranici)" %>
          </div>
        </div>
      </div>
  <div class="field">
    <%= f.input :name, label: "Naziv" %>
  </div>
  <div class="field">
    <%= f.input :description, label: "Sažetak" %>
  </div>
      <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-3">
          <%= f.label "Na koga se odnosi" %>
          <hr>
        </div>
        <div class="col-md-3">
          <%= f.label "Tko je raspisao natječaj" %>
          <hr>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="field">
            <%= f.label "Prihvatljivi korisnici" %>
            <%= f.input :company_size_ids, label: false,
                        :collection => CompanySize.all.map {|size| [size.name, size.id]},
                        input_html: {class: 'chosen-select', multiple: true} %>
          </div>
        </div>
        <div class="col-md-3">
          <%= f.input :croatia, label: 'Za cijelu Hrvatsku',:as => :select,
                      input_html: {class: 'checkbox'},
                      :collection => { 'Da' => true, 'Ne' => false },
                      :selected => f.object.croatia.nil? ? false : f.object.croatia %>
        </div>

        <div class="col-md-3">
          <%= f.input :announcer_croatia, label: 'Hrvatska',:as => :select,
                      input_html: {class: 'checkbox'},
                      :collection => { 'Da' => true, 'Ne' => false },
                      :selected => f.object.croatia.nil? ? false : f.object.croatia %>
        </div>
      </div>


    <div class="row">
      <div class="col-md-4">
        <div class="field">
          <%= f.input :beginning_date, label: "Datum početka" %>
        </div>
      </div>
      <div class="col-md-3">
        <div class="field">
          <%= f.label "Županija" %>
          <%= f.input :county_id, label: false,
                      :collection => County.all.map {|county| [county.name, county.id]},
                      include_blank: true,
                      input_html: {class: 'chosen-select' }  %>
        </div>
      </div>
      <div class="col-md-3">
        <%= f.label "Županija" %>
        <%= f.input :announcer_county_id, label: false,
                    :collection => County.all.map {|county| [county.name, county.id]},
                    include_blank: true,
                    input_html: {class: 'chosen-select' }  %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="field">
          <%= f.input :end_date, label: "Datum kraja" %>
        </div>
      </div>
      <div class="col-md-3">
        <div class="field">
          <%= f.label "Grad" %>
          <%= f.input :city_id, label: false,
                      :collection => City.all.map {|city| [city.name, city.id]},
                      include_blank: true,
                      input_html: {class: 'chosen-select' } %>
        </div>
      </div>
      <div class="col-md-3">
        <%= f.label "Grad" %>
        <%= f.input :announcer_city_id, label: false,
                    :collection => City.all.map {|city| [city.name, city.id]},
                    include_blank: true,
                    input_html: {class: 'chosen-select' } %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <%= f.input :end_term, label: "Razlog kraja natječaja (ukoliko natječaj nema datum kraja)" %>
      </div>
    </div>

    <div class="row">
      <div class="row">
        <div class="col-md-4 ">
          <%= f.label "Postotak sufinanciranja" %>
        </div>
      </div>

      <div class="col-md-1">
        <div class="field">
          <%= f.input :cofinancing_percentage, label: "Od" %>
        </div>
      </div>
      <div class="col-md-1">
        <div class="field">
          <%= f.input :to_cofinancing, label: "Do" %>
        </div>
      </div>
       <div class="col-md-4">
         <div class="field">
           <%= f.input :purpose_id , :as => :select, :collection => Purpose.all.map {|purpose| [purpose.name, purpose.id]}, label: "Namjena" %>
         </div>
      </div>
       <div class="col-md-4">
         <div class="field">
           <%= f.input :programme_type_id , :as => :select, :collection => ProgrammeType.all.map {|type| [type.name, type.id]}, label: "Tip programa"  %>
         </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="field">
          <%= f.input :min_amount, label: "Minimalan iznos sufinanciranja" %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="field">
          <%= f.input :max_amount, label: "Maksimalan iznos sufinanciranja" %>
        </div>
      </div>
    </div>

  <div class="field">
    <%= f.input :funding_programme_link, label: "Link na program sufinanciranja"%>
  </div>

  <div class="control-group">
    <%= f.label :programme_documents, label: "Dokumenti", :class => 'control-label' %>
    <div class="controls">

      <%= file_field_tag "documents[]", type: :file, multiple: true %>
      <p></p>
    </div>
  </div>
    <hr>

  </div>
  <div class="tab-pane" id="tab_2">
    <div class="field" style="margin-top: 25px;">
      <div class="row">
        <div class="col-md-2">
          <%= f.input :min_points, label: "Minimalan broj bodova u svim fazama/sekcijama" %>
        </div>
      </div>
    </div>
      <div id="task_sections">
        <%= f.simple_fields_for :task_sections do |section| %>
            <%= render 'task_section_fields', :f => section  %>
        <% end %>
        <div class="links" >
          <div style="margin-top: 30px; margin-bottom: 40px;">
            <%= link_to_add_association 'Dodaj fazu', f, :task_sections, class: "btn btn-primary", stlye:"margin-top: 35px; margin-bottom: 35px;"  %>
          </div>
        </div>
      </div>
    <hr>
  </div>
  </div>
    <div class="container">
      <div class="actions">
        <%= f.button :submit, @funding_programme.new_record? ? "Kreiraj novi" : "Izmijeni"   %>
      </div>
      <br>
    </div>

<% end %>

<script>
    gon.mycounter = 1;
    gon.billcounter = 1;
    gon.groupcounter = 1;
    gon.phasecounter = 1;
</script>