<%= grid(@funding_programmes_grid, show_filters: :always) do |g|

  g.column name: 'Id', attribute: 'id', filter: false, in_csv: false do |t|
    t.id
  end

  g.column name: 'Naziv programa', attribute: 'name' do |t|
    t.name
  end

  g.column name: 'Status', attribute: 'status', custom_filter: :auto do |t|
    t.status
  end

  g.column name: 'Početak', attribute: 'beginning_date', filter: :jquery_datepicker do |t|
    if t.beginning_date
      t.beginning_date.strftime("%d.%m.%Y. %H:%M")
    end
  end

    g.column name: 'Kraj', attribute: 'end_date', filter: :jquery_datepicker do |t|
    if t.end_date && t.end_term.blank?
      t.end_date.strftime("%d.%m.%Y. %H:%M")
    elsif t.end_term
      t.end_term
    end
  end

  g.column name: 'Sufinanciranje (Od)', attribute: 'cofinancing_percentage', custom_filter: :auto do |t|
    t.cofinancing_percentage.to_s+"%" unless t.cofinancing_percentage.blank?
  end

  g.column name: 'Sufinanciranje (Do)', attribute: 'to_cofinancing', custom_filter: :auto do |t|
    t.to_cofinancing.to_s+"%" unless t.to_cofinancing.blank?
  end

  g.column name: 'Tip', attribute: 'name', assoc: :programme_type, custom_filter: :auto do |t|
   if t.programme_type
    t.programme_type.name
   end
  end

  g.column name: 'Hrvatska', attribute: 'croatia' do |t|
    t.croatia ? 'Da' : 'Ne'
  end

  g.column name: 'Grad', attribute: 'name', assoc: :city do |t|
   if t.city
    t.city.name
   end
  end

  g.column name: 'Županija', attribute: 'name', assoc: :county do |t|
    if t.county
      t.county.name
    end
  end

  g.column name: 'Kreiran', attribute: 'created_at', filter: :jquery_datepicker, in_csv: false do |t|
    t.created_at.strftime("%d.%m.%Y. %H:%M")
  end

  g.column do |t|
    link_to("Pošalji notifikacije", notifications_path(id: t.id), method: :post, data: { confirm: 'Da li ste sigurni da želite poslati notifikaciju?'})
  end

  g.column in_csv: false do |t|
    link_to("Pregled", funding_programme_path(id: t.id))+" "+link_to("Uredi", edit_funding_programme_path(id: t.id))+" " +link_to('Izbriši', funding_programme_path(id: t.id), method: :delete, data: { confirm: 'Jeste li sigurni da želite obrisati natječaj?' })+" " +link_to('Novi', funding_programmes_path(id: t.id, create_from_existing: true), :method => :post, :value => true)
  end
end -%>