<div class="nested-fields" >

  <div class="well" style="background-color: white">
    <div class="page-header head-page">
      <% if f.object.id? %>
          <a data-toggle="collapse" href="#racun<%=f.object.id%>" aria-expanded="true" aria-controls="collapseExample" id="racunToggle<%=f.object.id%>" ><h3>Pitanje</h3></a><small>Kliknite na naziv zadatka za proširenje i suženje forme</small>
      <% else %>
          <a data-toggle="collapse" href="#collapse115" aria-expanded="true" aria-controls="collapseExample" id="collapse155" ><h3>Pitanje</h3></a><small>Kliknite na naziv naziv za proširenje i suženje forme</small>
      <% end %>
      <hr>
      <div class="label" id="collapse555" style="color: darkgrey; font-style: italic;"></div>
      <div class="panel-collapse collapse in" id="<%= f.object.id? ? "racun"+f.object.id.to_s : "collapse115" %>">
        <div class="field">
          <%= f.input :yes_no, label: "Da/ne pitanje", input_html: {class: "checkbox", style: "font-size: 1.5em"} %>
        </div>
      <div class="field">
    <%= f.input :description, label: "Opis pitanja" %>
  </div>

  <div class="container" style="margin-top: 25px;">
    <div id="tasks" style="margin-top: 20px">
      <%= f.simple_fields_for :task_choices do |choice| %>
          <%= render 'task_choice_fields', :f => choice  %>
      <% end %>
      <div class="links" >
        <div style="margin-top: 50px; margin-bottom: 40px;">
          <%= link_to_add_association 'Dodaj odabir u pitanju', f, :task_choices, class: "btn btn-primary novi_kupac", stlye:"margin-top: 35px; margin-bottom: 35px"  %>
        </div>
      </div>
    </div>
  </div>
        <hr>
  <%= link_to_remove_association "Izbriši pitanje", f, class: "btn btn-danger" %>
  </div>
    </div>
  </div>
</div>


<script>
    var element_id = document.getElementById("collapse115");
    var element_href = document.getElementById("collapse155");
    var element_icon = document.getElementById("collapse555");
    element_id.id = "5"+gon.billcounter.toString();
    element_href.id = "4"+gon.billcounter.toString();
    element_href.href = "#5"+gon.billcounter.toString();
    element_icon.id = "15"+gon.billcounter.toString();
    element_href.firstElementChild.innerHTML = "Pitanje #"+gon.billcounter.toString();
    gon.billcounter = gon.billcounter + 1;
</script>