<div class="nested-fields" >
<div class="container" style="background-color: white; box-shadow: -6px -6px 10px #8e8c89; ">
  <div class="page-header head-page">
    <% if !f.object.id? %>
        <a data-toggle="collapse" href="#collapse3" aria-expanded="false" aria-controls="collapseExample" id="collapse1" >
          <h3 style="color: red">Grupa</h3>
        </a><small>Kliknite na naziv grupe za proširenje i suženje forme</small>
    <% else %>
        <a data-toggle="collapse" href="#grupa<%=f.object.id%>" aria-expanded="false" aria-controls="collapseExample" id="grupaToggle<%=f.object.id%>" >
          <h3 style="color: red"><%= f.object.name.blank? ? "Grupa" : f.object.name %></h3>
        </a><small>Kliknite na naziv grupe za proširenje i suženje forme</small>
    <% end %>
  </div>
  <div class="label" id="collapse2" style="color: darkgrey; font-style: italic;"></div>
  <div class="panel-collapse collapse" id="<%= f.object.id? ? "grupa"+f.object.id.to_s : "collapse3" %>">
    <div class="field">
      <%= f.input :name, label: "Naziv grupe"  %>
    </div>

    <div class="container" style="margin-top: 25px;">
      <div id="tasks" style="margin-top: 20px">
        <%= f.simple_fields_for :tasks do |task| %>
            <%= render 'task_fields', :f => task  %>
        <% end %>

        <div class="links" >
          <div style="margin-top: 50px; margin-bottom: 40px;">
            <%= link_to_add_association 'Dodaj pitanje', f, :tasks, class: "btn btn-success novi_kupac", stlye:"margin-top: 35px; margin-bottom: 35px"  %>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <%= link_to_remove_association "Izbriši grupu", f, class: "btn btn-danger" %>
  </div>
  <hr>
</div>
</div>

<script>
    var element_id = document.getElementById("collapse3"); //123
    var element_href = document.getElementById("collapse1"); //111
    var element_icon = document.getElementById("collapse2"); //222
    element_id.id = "group"+gon.groupcounter.toString();
    element_href.id = "g"+gon.groupcounter.toString();
    element_href.href = "#group"+gon.groupcounter.toString();
    element_icon.id = "gr"+gon.groupcounter.toString();
    element_href.firstElementChild.innerHTML = "Grupa #"+gon.groupcounter.toString();
    gon.groupcounter = gon.groupcounter + 1;

</script>