<div class="nested-fields" >
  <div class="col-md-4">
  <div class="well" style="background-color: white; box-shadow: -6px -6px 10px #8e8c89; ">
  <h3>Odabir</h3>
  <div class="row">
    <div class="col-md-8">
      <div class="field">
        <%= f.input :description, label: "Opis odabira" %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="field">
        <%= f.input :points, label: "Broj bodova" %>
      </div>
    </div>
  </div>
      <div class="field">
        <%= link_to_remove_association "Izbriši odabir", f, class: "btn btn-danger" %>
      </div>
</div>
</div>
</div>
