<div class="nested-fields" >
  <div class="container">
  <div class="well" style="background-color: white">
  <div class="page-header head-page">
    <% if !f.object.id? %>
        <a data-toggle="collapse" href="#collapse777" aria-expanded="false" aria-controls="collapseExample" id="collapse888" >
          <h3 style="color: green">Faza</h3>
        </a><small>Kliknite na naziv faze za proširenje i suženje forme</small>
    <% else %>
        <a data-toggle="collapse" href="#faza_edit<%=f.object.id%>" aria-expanded="false" aria-controls="collapseExample" id="faza_editToggle<%=f.object.id%>" >
          <h3 style="color: green"><%= f.object.name.blank? ? "Faza" : f.object.name %></h3>
        </a><small>Kliknite na naziv faze za proširenje i suženje forme</small>
    <% end %>
  </div>
  <div class="label" id="collapse999" style="color: darkgrey; font-style: italic;"></div>
  <div class="panel-collapse collapse" id="<%= f.object.id? ? "faza_edit"+f.object.id.to_s : "collapse777" %>">
    <div class="field">
      <%= f.input :name, label: "Naziv sekcije"  %>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="field">
          <%= f.input :min_points, label: "Minimalan broj bodova" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div id="tasks" style="margin-top: 20px">
        <%= f.simple_fields_for :tasks do |task| %>
            <%= render 'task_fields', :f => task  %>
        <% end %>

        <div class="links" >
          <div style="margin-top: 50px; margin-bottom: 40px;">
            <%= link_to_add_association 'Dodaj pitanje', f, :tasks, :partial => 'task_fields', class: "btn btn-primary novi_kupac", stlye:"margin-top: 35px; margin-bottom: 35px"  %>
          </div>
        </div>
      </div>

    </div>

      <div id="tasks" style="margin-top: 20px">
        <%= f.simple_fields_for :task_groups do |task| %>
            <%= render 'task_group_fields', :f => task  %>
        <% end %>

        <div class="links" >
          <div style="margin-top: 50px; margin-bottom: 40px;">
            <%= link_to_add_association 'Dodaj grupu pitanja', f, :task_groups, class: "btn btn-primary novi_kupac", stlye:"margin-top: 35px; margin-bottom: 35px"  %>
          </div>
        </div>
      </div>

    <hr>

    <%= link_to_remove_association "Izbriši sekciju", f, class: "btn btn-danger" %>

  <hr>
</div>
  </div>
</div>
</div>

<script>
    var element_id = document.getElementById("collapse777");
    var element_href = document.getElementById("collapse888");
    var element_icon = document.getElementById("collapse999");
    var footer = document.getElementById("phase_footer_name");
    element_id.id = "faza"+gon.phasecounter.toString();
    element_href.id = "faza1"+gon.phasecounter.toString();
    element_href.href = "#faza"+gon.phasecounter.toString();
    element_icon.id = "faza2"+gon.phasecounter.toString();
    element_href.firstElementChild.innerHTML = "Sekcija #"+gon.phasecounter.toString();

    gon.phasecounter = gon.phasecounter + 1;
</script>