<div class="nested-fields" >
  <div class="page-header head-page">
    <% if !f.object.id? %>
        <a data-toggle="collapse" href="#collapse123" aria-expanded="false" aria-controls="collapseExample" id="collapse111" >
          <h3>Sekcija</h3>
        </a><small>Kliknite na naziv sekcije za proširenje i suženje forme</small>
    <% else %>
        <a data-toggle="collapse" href="#kupac<%=f.object.id%>" aria-expanded="false" aria-controls="collapseExample" id="kupacToggle<%=f.object.id%>" >
          <h3><%= f.object.name.blank? ? "Faza" : f.object.name %></h3>
        </a><small>Kliknite na naziv sekcije za proširenje i suženje forme</small>
    <% end %>
  </div>
  <div class="label" id="collapse222" style="color: darkgrey; font-style: italic;"></div>
  <div class="panel-collapse collapse" id="<%= f.object.id? ? "kupac"+f.object.id.to_s : "collapse123" %>">
  <div class="field">
    <%= f.input :name, label: "Naziv faze"  %>
  </div>
    <div class="row">
      <div class="col-md-4">
        <div class="field">
          <%= f.input :min_points, label: "Minimalan broj bodova" %>
        </div>
      </div>
    </div>

  <div class="field" >
    <%= f.input :description, label: "Opis faze" %>
  </div>

<div class="row">
    <div id="tasks" style="margin-top: 20px">
      <%= f.simple_fields_for :tasks do |task| %>
          <%= render 'yes_no_task_fields', :f => task  %>
      <% end %>

          <div class="links" >
            <div style="margin-top: 50px; margin-bottom: 40px;">
              <%= link_to_add_association 'Dodaj Da/Ne pitanje', f, :tasks, :partial => 'yes_no_task_fields', class: "btn btn-primary novi_kupac", stlye:"margin-top: 35px; margin-bottom: 35px"  %>
            </div>
          </div>
    </div>

</div>
    <div id="tasks" style="margin-top: 20px">
      <%= f.simple_fields_for :task_phases do |task| %>
          <%= render 'task_phase_fields', :f => task  %>
      <% end %>

        <div class="links" >
          <div style="margin-top: 50px; margin-bottom: 40px;">
            <%= link_to_add_association 'Dodaj sekciju pitanja', f, :task_phases, class: "btn btn-success novi_kupac", stlye:"margin-top: 35px; margin-bottom: 35px"  %>
          </div>
        </div>


    </div>


    <hr>

    <%= link_to_remove_association "Izbriši sekciju", f, class: "btn btn-danger" %>
</div>
  <hr>
</div>

<script>
    var element_id = document.getElementById("collapse123");
    var element_href = document.getElementById("collapse111");
    var element_icon = document.getElementById("collapse222");
    var footer = document.getElementById("section_footer_name");
    element_id.id = gon.mycounter;
    element_href.id = "1"+gon.mycounter.toString();
    element_href.href = "#"+gon.mycounter.toString();
    element_icon.id = "2"+gon.mycounter.toString();
    element_href.firstElementChild.innerHTML = "Faza #"+gon.mycounter.toString();

    gon.mycounter = gon.mycounter + 1;
</script>