
<div class="nested-fields" >

    <div class="col-md-4">
  <div class="well" style="background-color: white">
    <div class="page-header head-page">
      <% if f.object.id? %>
          <a data-toggle="collapse" href="#racun<%=f.object.id%>" aria-expanded="true" aria-controls="collapseExample" id="racunToggle<%=f.object.id%>" ><h3>Pitanje</h3></a><small>Kliknite na naziv zadatka za proširenje i suženje forme</small>
      <% else %>
          <a data-toggle="collapse" href="#collapse11" aria-expanded="true" aria-controls="collapseExample" id="collapse22" ><h3>Pitanje</h3></a><small>Kliknite na naziv naziv za proširenje i suženje forme</small>
      <% end %>
      <div class="label" id="collapse33" style="color: darkgrey; font-style: italic;"></div>
      <div class="panel-collapse collapse in" id="<%= f.object.id? ? "racun"+f.object.id.to_s : "collapse11" %>">
        <div class="field">
          <%= f.input :description, label: "Opis pitanja", input_html: {style:"resize: none;"} %>
        </div>
        <div class="field">
          <%= f.input :yes_no, :as => :hidden,label: "Opis pitanja", input_html: {value: true } %>
        </div>

        <hr>
        <%= link_to_remove_association "Izbriši pitanje", f, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>
  </div>


<script>
    var element_id = document.getElementById("collapse11"); //115
    var element_href = document.getElementById("collapse22"); //155
    var element_icon = document.getElementById("collapse33"); //555
    element_id.id = "5"+gon.billcounter.toString();
    element_href.id = "4"+gon.billcounter.toString();
    element_href.href = "#5"+gon.billcounter.toString();
    element_icon.id = "15"+gon.billcounter.toString();
    element_href.firstElementChild.innerHTML = "Pitanje #"+gon.billcounter.toString();
    gon.billcounter = gon.billcounter + 1;
</script>