<h1>Programi sufinanciranja</h1>
<hr>
<%= link_to 'Novi program sufinanciranja', new_funding_programme_path, class: 'btn btn-success', style: 'margin-bottom: 15px' %>

<%= render 'funding_programmes_grid' %>

<br>


