<p>
  <%= image_tag @funding_programme.purpose.avatar.url(:medium) if !@funding_programme.purpose.nil? && @funding_programme.purpose.avatar.file? %>
</p>
<p>
  <strong>Naziv:</strong>
  <%= @funding_programme.name %>
</p>

<p>
  <strong>Opis:</strong>
  <%= @funding_programme.description %>
</p>

<p>
  <strong>Prihvatljivi korisnici:</strong>
  <% @funding_programme.company_sizes.each do |size| %>
    <p><%= size.name %></p>
  <% end %>
</p>
<p>
  <strong>Status:</strong>
  <%= @funding_programme.status %>
</p>
<p>
  <strong>Datum početka:</strong>
  <%= @funding_programme.beginning_date %>
</p>

<p>
  <strong>Datum kraja:</strong>
  <%= @funding_programme.end_date %>
</p>

<p>
  <strong>Postotak sufinanciranja (Od):</strong>
  <%= @funding_programme.cofinancing_percentage %>
</p>

<p>
  <strong>Postotak sufinanciranja (Do):</strong>
  <%= @funding_programme.to_cofinancing %>
</p>

<p>
  <strong>Namjena:</strong>
  <%= @funding_programme.purpose.name unless @funding_programme.purpose.nil?  %>
</p>

<p>
  <strong>Tip programa:</strong>
  <%= @funding_programme.programme_type.name unless @funding_programme.programme_type.nil? %>
</p>

<strong>Namjenjeno za:</strong>
<div class="container">
<p>
  <strong>Grad:</strong>
  <%= @funding_programme.city.nil? ? "" : @funding_programme.city.name %>
</p>
<p>
  <strong>Županija:</strong>
  <%= @funding_programme.county.nil? ? "" : @funding_programme.county.name %>
</p>
</div>

<strong>Raspisano od:</strong>
<div class="container">
<p>
  <strong>Grad:</strong>
  <%= @funding_programme.announcer_city.nil? ? "" : @funding_programme.announcer_city.name %>
</p>
<p>
  <strong>Županija:</strong>
  <%= @funding_programme.announcer_county.nil? ? "" : @funding_programme.announcer_county.name %>
</p>
</div>

<p>
  <strong>Minimalan iznos sufinanciranja:</strong>
  <%= number_to_currency(@funding_programme.min_amount, :unit => "") %>
</p>

<p>
  <strong>Maksimalan iznos sufinanciranja:</strong>
  <%= number_to_currency(@funding_programme.max_amount, :unit => "") %>
</p>

<p>
  <strong>Funding programme link:</strong>
  <%= @funding_programme.funding_programme_link %>
</p>

<p>
  <strong>Dokumenti:</strong>
  <% @funding_programme.programme_documents.each do |document|%>
    <p>
      <%= link_to document.document_file_name, document.document.url(:original, false) %>
      <%= link_to delete_document_funding_programmes_path(id: document.id), :method => :put do %>
        <i class="ion-close-circled"></i>
      <% end %>
    </p>
  <% end %>
</p>

<p>
  <strong>Upiti:</strong>
  <div class="container">
  <% @funding_programme.task_sections.each do |section| %>
    <p><strong>Naziv sekcije:</strong> <%= section.name %></p>
    <p><strong>Minimalan broj bodova:</strong> <%= section.min_points %></p>
    <p><strong>Opis:</strong><%= section.description %> </p>
      <p><strong>Zadaci:</strong>
      <% section.tasks.each do |task| %>
      <div class="container">
        <p><strong>Opis zadatka: </strong><%= task.description %></p>
          <p><strong>Odabiri: </strong>
          <% task.task_choices.each do |choice| %>
          <div class="container">
            <p><strong>Opis odabira:</strong> <%= choice.description %></p>
            <p><strong>Broj bodova:</strong> <%= choice.points %></p>
          </div>
          <% end %>
            </p>
            </div>
      <% end %>
        </p>
    <hr>
  <% end %>
  </div>
</p>

<hr>

<%= link_to 'Edit', edit_funding_programme_path(@funding_programme) %> |
<%= link_to 'Back', funding_programmes_path %>
