<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @content.title %>
</p>

<p>
  <strong>Length:</strong>
  <%= @content.length %>
</p>

<p>
  <strong>Course:</strong>
  <%= @content.course_id %>
</p>

<p>
  <strong>Content type:</strong>
  <%= @content.content_type_id %>
</p>

<%= link_to 'Edit', edit_content_path(@content) %> |
<%= link_to 'Back', contents_path %>
